:root {
    --page-bg-color: var(--color-white, #ffffff);
    --page-bg-img: repeating-linear-gradient(to left,#d3d3d3 0 2px,#d3d3d300 2px 4px), repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px), linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --text-color: var(--color-black, #000000);
    --page-font-family: "Inter", sans-serif;
    --page-alt-font-family: "PressStart2P", fantasy;
    --page-fw: 400;
    --card-header-fw: 700;
    --button-text-color: var(--page-bg-color, #fff);
    --like-main-body-color: none;
    --like-contour-color: var(--text-color, #000000);
    --like-sparks-color: #ff0000;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-green: #00cc14;
}